@import "../../../css-config/mixins.scss";

.shop-by-category {
    margin: 25px 0;

    @include md {
        margin: 50px 0;
    }

    .categories {
        display: flex;
        flex-flow: wrap;
        gap: 50px;

        .category {
            background-color: black;
            width: 30%; /* Lăsați dimensiunea de bază aici */
            cursor: pointer;
            overflow: hidden;
            

            @include md {
                width: 25%; /* Lăsați dimensiunea de bază pentru ecranul de dimensiune medie */
            }

            img {
                width: 100%;
                display: block;
                transition: all ease 0.3s;
                transform-origin: center center;
            }

            
        }
    }
}
